
.output {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;

  .change_output {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .75em;
    background-color: rgb(30, 30, 30);
    box-shadow: inset 0 0 .25em rgba(0, 0, 0, 1);
    border-radius: 3px;
    box-sizing: border-box;

    span {
      margin: .1em;
      color: aqua;
    }
  }

  .product_block {
    width: 100%;
    min-height: 4rem;
    padding: .75em;
    background-color: rgb(30, 30, 30);
    box-shadow: inset 0 0 .25em rgba(0, 0, 0, 1);
    border-radius: 3px;
    cursor: pointer;
    box-sizing: border-box;

    .product {
      width: 100%;
      padding: .5em;
      border-radius: 5px;
      background-color: aqua;
      box-sizing: border-box;
      animation: heartbeat 2s 1s ease infinite normal;

      p {
        margin-top: .3em;
        margin-bottom: .6em;
      }
    }
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  14% {
    transform: scale(1.025);
  }
  28% {
    transform: scale(1);
  }
  42% {
    transform: scale(1.025);
  }
  70% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
