.display {
  width: 100%;
  height: 90vh;
  padding: 1em;
  border-radius: .75rem;
  background-color: rgb(30, 30, 30);
  border: .25em solid #000000;
  box-shadow: inset 0 0 .5em rgba(0, 0, 0, 1);
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  @media screen and (max-width: 780px) {
    height: 48vh;
  }

  .list_item {
    display: flex;
    flex-wrap: wrap;

    .item {
      margin: .5em;
      padding: .75em;
      width: calc(33.3% - 1em);
      background-color: #ffffff;
      border-radius: .2em;
      box-sizing: border-box;
      transition: background-color .3s;

      .name {}

      .description {
        font-size: .85rem;
        margin: .4em 0;
      }

      .price {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cost {}

        .id {font-size: 1.5rem;}
      }

    }
    .item_active {
      background-color: aqua;
    }
  }

  &::-webkit-scrollbar {width: 8px}

  &::-webkit-scrollbar-track {border-radius: 10px;}

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(255, 255, 255, .5);
  }

  @media screen and (max-width: 780px) {
    &::-webkit-scrollbar {width: 6px}
  }
}
